In [4]:
number = int(input("Enter a number greater than 10: "))

if number > 10:
    print("number is greater than 10")
else:
    print("number is smaller than 10")

number is smaller than 10

In [3]:
def year_value_reduction(year, price, dep):
    
    year += 1
    price *= dep
    
    return year, price

In [5]:
bike_price = 2000
bike_dep   = 0.90
year       = 2021

In [6]:
while bike_price > 1000:
    year, bike_price = year_value_reduction(year, bike_price, bike_dep)
        
    print("Value of the item in year", year, "is £", round(bike_price, 2))

Value of the item in year 2022 is £ 1800.0
Value of the item in year 2023 is £ 1620.0
Value of the item in year 2024 is £ 1458.0
Value of the item in year 2025 is £ 1312.2
Value of the item in year 2026 is £ 1180.98
Value of the item in year 2027 is £ 1062.88
Value of the item in year 2028 is £ 956.59

In [7]:
car_price = 25000
car_dep   = 0.80
year      = 2021

In [8]:
while car_price > 1000:
    year, car_price = year_value_reduction(year, car_price, car_dep)
    
    print("Value of the item in year", year, "is £", car_price)

Value of the item in year 2022 is £ 20000.0
Value of the item in year 2023 is £ 16000.0
Value of the item in year 2024 is £ 12800.0
Value of the item in year 2025 is £ 10240.0
Value of the item in year 2026 is £ 8192.0
Value of the item in year 2027 is £ 6553.6
Value of the item in year 2028 is £ 5242.880000000001
Value of the item in year 2029 is £ 4194.304000000001
Value of the item in year 2030 is £ 3355.443200000001
Value of the item in year 2031 is £ 2684.354560000001
Value of the item in year 2032 is £ 2147.483648000001
Value of the item in year 2033 is £ 1717.9869184000008
Value of the item in year 2034 is £ 1374.3895347200007
Value of the item in year 2035 is £ 1099.5116277760005
Value of the item in year 2036 is £ 879.6093022208005

In [14]:
def year_value_reduction(year, price, dep):
    while price > 1000:
        print("Value of the item in year", year, "is £", price)
        year += 1
        price = price * dep
    return year, price

In [15]:
year_value_reduction(year, bike_price, bike_dep)

(2036, 956.5938000000001)

In [21]:
def calculator(num_1,num_2):
    menuOption = input("Please type the operator you require, a to add, b to subtract, c to  divide, d to multiply, e to the power of, f to floor divide")
    
    if menuOption == 'a':
        print (num_1+num_2)
    elif menuOption == 'b':
        print (num_1-num_2)
    elif menuOption == 'c':
         print (num_1/num_2)
    elif menuOption == 'd':
        print (num_1*num_2)
    elif menuOption == 'e':
        print (num_1**num_2)
    elif menuOption == 'f':
        print (num_1//num_2)
    else:
        print("input error please re-enter operator")

In [22]:
print("Hello, please enter two numbers you would like to calculate")

number_1 = int(input("Please enter your first number"))
number_2 = int(input("Please enter your second number"))

Hello, please enter two numbers you would like to calculate

In [23]:
calculator(number_1,number_2)

-3